#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.done
{
  text-decoration: line-through;
  color: gray;
}



.header-container {
  padding: 20px;
  text-align: center;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

.add-button {
  padding: 7px 20px;
  font-size: 16px;
  border: solid 2px;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.add-button:hover, .save-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}


/* ======================================== */

.todolist
{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.todo-text
{
  margin-bottom:2px ;
}

.delete-button {
  margin-left: auto;
  background-color: #964646;
  color: #fff;
  border: solid 2px white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.save-button
{
  padding: 5px 10px;
  font-size: 16px;
  border:solid 2px;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.edit-button {
  padding: 5px 10px;
  font-size: 16px;
  border: solid 2px black;
  border-radius: 4px;
  background-color: #f2f686;
  color: rgb(188, 184, 184);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}
.edit-button:hover{
  background-color:rgb(245, 197, 75);
  color: aliceblue;
}

.check-button
{
  padding: 6px 10px;
    font-size: 16px;
    border: solid 2px;
    border-radius: 4px;
    
    color: rgb(188, 184, 184);
    cursor: pointer;
    transition: background-color 0.3s;
    
    margin-right: 10px;
}
.check-button:hover{
  background-color: rgb(0, 8, 255);
}